@font-face {
    font-family: "FFont";
    src: url("../OPTIEngeEtienne.otf");
  }
  
  * {
    font-family: "FFont";
  }
  
    body, html {
      margin: 0;
      height: 100%;
    }
  
    /* Navbar */
    
    .topnav {
      overflow: hidden;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 12px 16px;
      text-decoration: none;
      font-size: 30px;
      transform: skew(-20deg);
    }
  
    .topnav .logoFF {
      transform: skew(0deg);
      padding: 0;
    }
  
    .topnav a.nav-right {
      float: right;
    }
    
    .topnav a:hover {
      background-color: #252525;
      border-color: rgb(183,48,48);
      border-style: double;
      border-width: 5px;
      border-top-width: 0;
      color: rgb(183,48,48);
      transition: color 0.5s;
    }
   
    .topnav a:hover:before, .card a:hover:after {
      animation: none;
      opacity: 0;
    }
    
    .topnav a.active {
      border-color: rgb(183,48,48);
      border-style: double;
      border-width: 5px;
      border-top-width: 0;
    }
    
    .topnav .icon {
      display: none;
      transform: skew(0deg);
    }
  
    .topnav img {
      height: 70px;
      margin-right: 5px;
      float: left;
    }
  
    .skewed {
      transform: skew(20deg);
    }
  
    .sticky {
      position: fixed;
      z-index: 2;
      top: 0;
      width: 100%;
    }
  
    /* Responsividade */
    
    @media screen and (max-width: 712px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 712px) {
      .topnav.responsive {position: fixed;}
      .topnav.responsive .icon {
        position: fixed;
        right: 0;
        top: 0;
        border-width: 0px;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-left: 70px;
        border-color: rgb(183,48,48);
        border-style: inset;
        border-width: 5px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        transform: skew(0deg);
        background-color: #252525;
      }
      .topnav.responsive a:hover {
        color: rgb(183,48,48);
        transition: color 0.5s;
      }
      .skewed {
        transform: skew(0deg);
      }
      .topnav a.active {
        border-bottom-width: 5px;
      }
      #fight .bossPixel {
        left: 7vw !important;
      }
      #fight .partyPixel #WoL {
        left: 60vw !important;
      }
    }

    .bgimg-1 {
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../imagens/Music2_bg.jpg");
        min-height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .bgimg-1 .vinyl {
        position: absolute;
        top: 80vh;
        left: 0;
    }

    .vinyl img {
        height: 20vh;
    }

    #mySidenav a {
        position: absolute;
        left: -90px;
        transition: 0.3s;
        padding: 15px;
        width: 150px;
        text-decoration: none;
        font-size: 1.75em;
        color: white;
        border-radius: 0 5px 5px 0;
        border-style: groove;
        border-width: 5px;
        border-color: #fff;
        background-color: rgba(0, 0, 0, 0.75);
        cursor: pointer;
      }
      
      #mySidenav a:hover {
        left: 0;
      }
      
      #boss1 {
        top: 10vh;
      }
      
      #boss2 {
        top: 20vh;
      }
      
      #boss3 {
        top: 30vh;
      }
      
      #boss4 {
        top: 40vh;
      }

      #boss5 {
        top: 50vh;
      }

      #boss6 {
        top: 60vh;
      }

      #volumeControl {
        position: absolute;
        top: 78vh;
        left: 0;
      }

      #myBtn {
        width: 10vw;
        min-width: 100px;
        font-size: 2em;
        padding: 10px;
        border: none;
        background: #252525;
        color: #fff;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 15vh;
      }
      
      #myBtn:hover {
        background: #ddd;
        color: rgb(183,48,48);
        transition: color 0.5s;
      }

      #fight .bossPixel {
        position: absolute;
        top: 30vh;
        left: 20vw;
      }

      #fight .bossPixel img {
        height: 40vh;
      }

      #fight .partyPixel #WoL {
        position: absolute;
        top: 46vh;
        left: 50vw;
        min-height: 7.5vh;
        height: 12.5%;
      }

      #fight .partyPixel #firstMember {
        position: absolute;
        top: 41vh;
        left: 49vw;
        min-height: 7.5vh;
        height: 30%;
      }

      #fight .partyPixel #secondMember {
        position: absolute;
        top: 45vh;
        left: 54vw;
        min-height: 7.5vh;
        height: 30%;
      }

      #fight .partyPixel #thirdMember {
        position: absolute;
        top: 49vh;
        left: 59vw;
        min-height: 7.5vh;
        height: 30%;
      }